.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.label-search {
    font-weight: bold;
    margin-bottom: 5px;
}

.field-search {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%
}